body {
    font-family: Arial;
    margin: 0;
}
main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vh;
    width: 99vw;
}
a {
    text-decoration: none;
    color: black;
    &:visited {
        text-decoration: none;
        color: black;
    }
}
ul {
    list-style-type: disc;
}

.HEADER {
    background: #D6D5D3;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-image: url(../assets/images/utils/headerBG.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    .links {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        .link {
            color: black;
            font-size: 1.5vmax;
            text-decoration: none;
            text-align: center;
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 3.5vh;
            padding-bottom: 3.5vh;
            cursor: pointer;
        }
        #bHome {
            margin-left: 0;
            margin-right: auto;
            padding-left: 0;
        }
    }

    .subMenu {
        background: white;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 20vmax;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        border-left: solid black 1px;
        cursor: default;

        .subItem {
            font-size: 1.5vmax;
            padding: 15px;
            margin: 10px;
            margin-top: 5vmin;
            background: #D6D5D3;
        }
    }
}

.hPage {                
    margin: auto;
    margin-top: 5vh;
    width: 85vw;
    section {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid black;
        width: 85vw;
        border-radius: 7px;
    }
    .pres-list {
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &>li {
            padding: 20px;
            padding-left: 40px;
            padding-right: 40px;
            margin: 20px;
            border: 1px solid black;
            border-radius: 5px;
        }
    }
}

.carrousel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80vh;
    width: 80vw;
    border: 1px solid black;
    margin-bottom: 1vh;
    border-radius: 7px;
    background-color: rgba($color: #000000, $alpha: 0.3);
    .carInfo {
        font-size: 1.5vmin;
        width: 80vw;
        height: 2vh;
        margin: 0;
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        padding: 0;
    }
    .carrouselButton {
        border: none;
        background: none;
        width: 5vw;
        height: 68vh;
        margin: 0;
        padding: 0;
        :nth-child(n) {
            width: 2.5vw;
        }
    }
    .carrouselImg {
        display: block;
        max-height: 68vh;
        max-width: 70vw;
        object-fit: contain;
    }
    .bigPicture {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        padding: auto;
        height: 100vh;
        width: 100vw;
        object-fit: contain;
        background-color: rgba($color: #000000, $alpha: 0.7);
    }
    .carrouselCollection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80vw;
        height: 6vh;
        height: fit-content;
        padding: 0.5vmin;
        align-self: flex-end;
        .collectionImg {
            margin-left: 0.5vw;
            margin-right: 0.5vw;
            display: block;
            height: 3vh;
            width: 3vw;
            margin-top: 10px;
            object-fit: scale-down;
        }
        .displayedImg {
            border: 2px solid red;
            max-height: 5vh;
            max-width: 5vw;
        }
    }
}

.Selector {
    display: flex;
    align-items: center;
    justify-content: center;
    :first-child {
        font-size: 2vh;
        margin-right: 10px;
        padding-top: 1.5vh;
    }
    :nth-child(n) {
        height: 4vh;
    }
}