$primary: #455459;
$secondary: #859A9D;
$accent: #D6D5D3;
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');


body {
    font-family: Cambria, Arial;
    margin: 0;
    background: $primary;
    color: #ffffff;
    font-size: 10px;
}
a {
    color: #ffffff;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    background: $primary;
}

#header {
    @media screen and (max-width: 1200px) {
        background-image: url(../assets/images/utils/le_mont_artiste.jpg);
        background-size: cover;
        background-position: top center;
        height: 50vh;
    }
    @media screen and (min-width: 1200px) {
        background-image: url(../assets/images/utils/homePageImg.jpg);
        background-size: cover;
        background-position: top center;
        height: 60vh;
    }
    font-size: 1rem;

    display: flex;
    flex-direction: column;

    .navbar {
        height: 5rem;
        display: flex;
        align-items: center;
        
        li a {
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
    }
    .hlinks {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .hlink {
            text-decoration: none;
            color: black;
            cursor: pointer;
            padding-right: 1.5rem;
            img {
                max-height: 100%;
            }
        }
        #hHome {
            margin-right: auto;
            margin-left: 0;
            padding-left: 1.5rem;
        }
    }

    .title-container {
        height: 100%;
        width: 100%;
        display: flex;
        @media screen and (max-width: 1200px) {
            margin-top: 4rem;
        }
        @media screen and (min-width: 1200px) {
            margin-top: 9rem;
        }
        justify-content: center;
        h1 {
            font-size: 6rem;
            margin-bottom: auto;
            color: white;
            text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.8);
        }
    }
}

#aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1200px) { 
        margin: 4em 5em 1em;
    }
    @media screen and (min-width: 1200px) {
        margin: 6em 10em 2em;
    }
    h2 {
        width: 70%;
        padding-bottom: 1em;
        border-bottom: #ffffff solid 2px;
        text-align: center;
        margin-top: 0;
    }
    p {
        text-align: justify;
    }
    #aboutUsResp {
        text-align: end;
        align-self: self-end;
    }
}

.carrousel {
    margin-top: 5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    .carInfo {
        height: 4rem;
        margin: 0;
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        padding: 0;
    }
    .carrousel-viewer {
        height: 70vh;
        display: flex;
        justify-content: center;

        .carrouselButton {
            position: relative;
            width: 5rem;
            height: 5rem;
            padding: 0;
            align-self: center;
            cursor: pointer;
            border-radius: 50%;
            border: #ffffff 1px solid;
            background-color: rgba($color: #000000, $alpha: 0);
            z-index: 2;
            margin-right: 1rem;
            margin-left: 1rem;
             
            img {
                width: 100%;
                filter: brightness(0) invert(1);
        }
        &::before { 
            position: absolute;
            content: "";
            inset: 0;
            background: #000000;
            background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
            z-index: 1;
            opacity: 0;
            border-radius: 50%;
            transition: opacity 0.25s linear
        }
        &:hover::before {
            opacity: 1;
        }


        }  
        .carrousel-img-container {
            height: 100%;
            @media screen and (max-width: 1200px) { 
                width: 80%;
            }
            @media screen and (min-width: 1200px) {
                width: 70%;
            }
        }
        .carrouselImg {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    
    .carrouselCollection {
        margin-top: 4rem;
        display: flex;
        width: 100%;
        height: 10vh;
        justify-content: space-around;
        .displayedImg {
            outline: 4px white solid;
        }
        .collectionImg {
            margin: 1rem auto 1rem auto;
            padding: 4px;
            height: 100%;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

.Selector {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid black;
    :first-child {
        font-size: 2vh;
        margin-right: 10px;
        padding-top: 1.5vh;
    }
    :nth-child(n) {
        height: 4vh;
        background: $accent;
    }
}

.portfolioContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 85vw;
    border-radius: 7px;
    background-color: $secondary;
    border: 1px solid $accent;
    .portfolioTitle {
        height: 5vh;
        width: 100%;
        margin: 1vmin;
        text-align: center;
    }
    .portfolioCarrousel {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 40vh;
        width: 40vw;
        border: 1px solid $accent;
        border-radius: 7px;
        margin: 1vmin;
        background: $secondary;
        box-shadow: inset 0 0 10px 7px $accent;
        .carInfo {
            color: $primary;
            font-size: 2vmin;
            width: 40vw;
            height: 2vh;
            margin: 0;
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            padding: 0;
            background: $accent;
            border-radius: 7px;
            padding: 3px;
        }
        .carrouselButton {
            border: none;
            background: $accent;
            border-radius: 50%;
            width: 2.5vw;
            height: 2.5vw;
            margin: 10px;
            padding: 0;
            align-self: center;
            :nth-child(n) {
                width: 2.5vw;
            }
        }
        .carrouselImg {
            display: block;
            max-height: 28vh;
            max-width: 30vw;
            object-fit: contain;
        }
        .bigPicture {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            padding: auto;
            height: 100vh;
            width: 100vw;
            object-fit: contain;
            background-color: rgba($color: #000000, $alpha: 0.7);
        }
        .carrouselCollection {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 40vw;
            height: 6vh;
            height: fit-content;
            padding: 0.5vmin;
            align-self: flex-end;
            background: $accent;
            border-radius: 7px;
            .collectionImg {
                display: block;
                height: 3vh;
                width: 3vh;
                margin: 0.5vmin;
                margin-top: 10px;
                margin-bottom: 0;
                object-fit: scale-down;
            }
            .displayedImg {
                border: 2px solid $primary;
                max-height: 5vh;
                max-width: 5vh;
            }
        }
    }
    .portfolioIntent {
        height: 38vh;
        width: 38vw;
        margin: 1vmin;
        padding: 1vmin;
        background: $accent;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: $secondary $accent;
        border-radius: 5px;
        border: 1px solid $accent;
    }
    .portfolioXArts {
        height: 40vh;
        width: 40vw;
        margin: 1vmin;
        border: 1px solid $accent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px;
        box-shadow: inset 0 0 10px 7px $accent;
        .xArtsImg {
            object-fit: contain;
            max-width: 40vw;
            max-height: 37vh;
            margin: 0;
        }
        .xArtsCaption {
            background: $accent;
            font-size: 1.8vmin;
            text-align: center;
            height: 3vh;
            padding: 0;
            margin: 0;
            border-radius: 5px;
            .xArtsTitle {
                font-style: italic;
            }
        }
    }
    .portfolioAutoportrait {
        max-width: 40vw;
        max-height: 40vh;
        object-fit: contain;
        margin: 1vmin;
        background: $accent;
        border-radius: 5px;
        border: 1px solid $accent;
    }
}

footer {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding-top: 0.5rem;
    justify-content: flex-end;

    border-top: #e0e0e0 solid 1px;
    #footerText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            margin: 0.2em;
        }
    }
    .logoRegarde {
        img {
            filter: brightness(0) invert(1);
            height: 4em;
        }
        margin-left: auto;
    }
}