body {
  font-family: Arial;
  margin: 0;
  background: #4D5C63;
}

main {
  width: 99.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vh;
  background: #4D5C63;
}

ul {
  list-style-type: disc;
}

.HEADER {
  background: #D6D5D3;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-image: url(../assets/images/utils/headerBG.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.HEADER a {
  text-decoration: none;
  color: black;
}
.HEADER a:visited {
  text-decoration: none;
  color: black;
}
.HEADER .links {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.HEADER .links .link {
  color: black;
  font-size: 1.5vmax;
  text-decoration: none;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
  cursor: pointer;
}
.HEADER .links #bHome {
  margin-left: 0;
  margin-right: auto;
  padding-left: 0;
}
.HEADER .subMenu {
  background: #859A9D;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 20vmax;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border-left: solid black 1px;
  cursor: default;
}
.HEADER .subMenu .subItem {
  font-size: 1.5vmax;
  padding: 15px;
  margin: 10px;
  margin-top: 5vmin;
  background: #D6D5D3;
}

.hPage {
  background: url(../assets/images/utils/headerBG.jpg) fixed no-repeat;
}
.hPage .hSection {
  background: none;
}
.hPage section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  width: 85vw;
}
.hPage .pres-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.hPage .pres-list > li {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.carrousel {
  background: #859A9D;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 80vh;
  width: 80vw;
  margin-bottom: 1vh;
  border-radius: 7px;
  border: 1px solid black;
}
.carrousel .carInfo {
  font-size: 1.5vmin;
  width: 80vw;
  height: 2vh;
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  background: #D6D5D3;
  border-radius: 7px;
}
.carrousel .carrouselButton {
  border: none;
  background: #D6D5D3;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  margin: 10px;
  padding: 0;
  align-self: center;
}
.carrousel .carrouselButton :nth-child(n) {
  width: 2.5vw;
}
.carrousel .carrouselImg {
  display: block;
  max-height: 68vh;
  max-width: 70vw;
  -o-object-fit: contain;
     object-fit: contain;
}
.carrousel .bigPicture {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  padding: auto;
  height: 100vh;
  width: 100vw;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgba(0, 0, 0, 0.7);
}
.carrousel .carrouselCollection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  height: 6vh;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5vmin;
  align-self: flex-end;
  background: #D6D5D3;
  border-radius: 7px;
}
.carrousel .carrouselCollection .collectionImg {
  display: block;
  height: 3vh;
  width: 3vh;
  margin: 0.5vmin;
  margin-top: 10px;
  margin-bottom: 0;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.carrousel .carrouselCollection .displayedImg {
  border: 2px solid red;
  max-height: 5vh;
  max-width: 5vh;
}

.Selector {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D6D5D3;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid black;
}
.Selector :first-child {
  font-size: 2vh;
  margin-right: 10px;
  padding-top: 1.5vh;
}
.Selector :nth-child(n) {
  height: 4vh;
  background: #D6D5D3;
}

.portfolioContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 85vw;
  border: 1px solid black;
  border-radius: 7px;
}
.portfolioContainer .portfolioTitle {
  height: 5vh;
  width: 100%;
  margin: 1vmin;
  text-align: center;
}
.portfolioContainer .portfolioCarrousel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 40vh;
  width: 40vw;
  border: 1px solid black;
  border-radius: 7px;
  margin: 1vmin;
}
.portfolioContainer .portfolioCarrousel .carInfo {
  font-size: 1.5vmin;
  width: 40vw;
  height: 2vh;
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
}
.portfolioContainer .portfolioCarrousel .carrouselButton {
  border: none;
  background: none;
  width: 5vw;
  height: 28vh;
  margin: 0;
  padding: 0;
}
.portfolioContainer .portfolioCarrousel .carrouselButton :nth-child(n) {
  width: 2.5vw;
}
.portfolioContainer .portfolioCarrousel .carrouselImg {
  display: block;
  max-height: 28vh;
  max-width: 30vw;
  -o-object-fit: contain;
     object-fit: contain;
}
.portfolioContainer .portfolioCarrousel .bigPicture {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  padding: auto;
  height: 100vh;
  width: 100vw;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgba(0, 0, 0, 0.7);
}
.portfolioContainer .portfolioCarrousel .carrouselCollection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40vw;
  height: 6vh;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5vmin;
  align-self: flex-end;
}
.portfolioContainer .portfolioCarrousel .carrouselCollection .collectionImg {
  display: block;
  height: 3vh;
  width: 3vh;
  margin: 0.5vmin;
  margin-top: 10px;
  margin-bottom: 0;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.portfolioContainer .portfolioCarrousel .carrouselCollection .displayedImg {
  border: 2px solid red;
  max-height: 5vh;
  max-width: 5vh;
}
.portfolioContainer .portfolioIntent {
  height: 39vh;
  width: 39vw;
  margin: 1vmin;
  padding: 1vmin;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #4D5C63;
  border: 1px solid black;
  border-radius: 5px;
}
.portfolioContainer .portfolioAutoportrait {
  max-width: 40vw;
  max-height: 40vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 1vmin;
}/*# sourceMappingURL=main.css.map */