* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    :visited {
        text-decoration: none;
        color: black;
    }
}

.HEADER {
    background: #D6D5D3;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-image: url(../assets/images/autres/headerBGImage.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    .links {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        margin: 0;
        .link {
            color: black;
            font-size: 2vmin;
            text-decoration: none;
            text-align: center;
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 3.5vh;
            padding-bottom: 3.5vh;
        }
        #bHome {
            margin-right: auto;
        }
        button {
        border: none;
        background: none;
        height: fit-content;
        padding: 0;
        margin: 0;
        font-size: 2vmin;
        }
    }

    .subMenu {
        background: white;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 20vmax;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        border-left: solid black 1px;

        .subItem {
            font-size: 2vmin;
            padding: 10px;
            margin: 10px;
            background: #D6D5D3;
        }
    }
}